[submodule "themes/pickle"]
	path = themes/pickle
	url = git@github.com:mismith0227/hugo_theme_pickles.git
[submodule "public"]
	path = public
	url = git@github.com:ambye85/ambye85.github.io.git
	branch = master
